.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  align-items: center;
}
.title {
  text-align: center;
  margin-left: 100px;
  font-weight: 800;
}
.btn-closed {
  color: black;
  background-color: white;
  font-size: 25px;
  font-weight: 700;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

.body {
  margin: 10px;
  margin: 5%;
}
.email {
  margin-bottom: 5%;
}
.email-input {
  border-radius: 16px;
  padding: 5px;
  width: 300px;
  border: 2px solid gray;
}
.firstName {
  margin-bottom: 5%;
}
.firstName-input {
  border-radius: 16px;
  padding: 5px;
  width: 300px;
  border: 2px solid gray;
}
.lastName {
  margin-bottom: 5%;
}
.lastName-input {
  border-radius: 16px;
  padding: 5px;
  width: 300px;
  border: 2px solid gray;
}
.password {
  margin-bottom: 5%;
}
.password-input {
  border-radius: 16px;
  padding: 5px;
  width: 300px;
  border: 2px solid gray;
}
.role {
  margin-bottom: 5%;
  justify-content: flex-start;
  border-radius: 16px;
  padding: 5px;
  width: 300px;
  border: 2px solid gray;
}

.footer {
  display: flex;
  justify-content: end;
}

.btn-save {
  color: white;
  background: linear-gradient(to bottom right, #3ed039e7, #42dc10);
  border-radius: 16px;
  padding: 8px 16px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: width 2s;
}
.btn-save:hover {
  width: 100px;
  height: 50px;
}

.error {
  color: red;
  margin-left: 10px;
}
