<ng-template #template>
    <form #userForm="ngForm" [formGroup]="form" (ngSubmit)="submit()">
        <div class="user-add-edit">
            <div class="header">
                <h2 class="title">Add User</h2>
                <button class="btnClose" type="button" (click)="closeModal()">X</button>
            </div>
            <div class="body">
                <div class="email">
                    <input class="emailInput" type="email" formControlName="email" placeholder="Enter email">
                    <div class="error" *ngIf="userForm.submitted && f.email?.errors?.required">
                        Email is required!
                    </div>
                    <div class="error" *ngIf="userForm.submitted && f.email?.errors?.email">
                        Invalid Email!
                    </div>
                </div>
                <div class="firstName">
                    <input class="firstNameInput" type="text" formControlName="firstName" placeholder="Enter firstName">
                    <div class="error" *ngIf="userForm.submitted && f.firstName?.errors?.required">
                        First name is required!
                    </div>
                </div>
                <div class="lastName">
                    <input class="lastNameInput" type="text" formControlName="lastName" placeholder="Enter lastName">
                    <div class="error" *ngIf="userForm.submitted && f.lastName?.errors?.required">
                        Last name is required!
                    </div>
                </div>
                <div class="password">
                    <input class="passwordInput" type="password" formControlName="password"
                        placeholder="Enter password">
                    <div class="error" *ngIf="userForm.submitted && f.password?.errors?.required">
                        Password is required!
                    </div>
                    <div class="error" *ngIf="userForm.submitted && f.password?.errors?.minlength">
                        Password should be at least 8 characters!
                    </div>
                </div>
                <div class="role" *ngFor="let role of userRole">
                    <input class="roleInput" type="radio" formControlName="role" placeholder="Enter role"
                        [value]="role">
                    {{ role }}
                    <div class="error" *ngIf="userForm.submitted && f.role?.errors?.required">
                        Select One Item "MANAGER" or "ADVISOR"
                    </div>
                </div>
                <div class="footer">
                    <button class="saveBtn" type="submit">Save</button>
                </div>
            </div>
        </div>
    </form>
</ng-template>