.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  align-items: center;
}
.title {
  text-align: center;
  margin-left: 40%;
  font-weight: 800;
}
.btnClose {
  color: black;
  background-color: white;
  font-size: 25px;
  font-weight: 700;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

.body {
  margin: 10px;
  margin: 5%;
}
.email {
  margin-bottom: 5%;
}
.emailInput {
  border-radius: 16px;
  padding: 5px;
  width: 300px;
  border: 2px solid gray;
}
.firstName {
  margin-bottom: 5%;
}
.firstNameInput {
  border-radius: 16px;
  padding: 5px;
  width: 300px;
  border: 2px solid gray;
}
.lastName {
  margin-bottom: 5%;
}
.lastNameInput {
  border-radius: 16px;
  padding: 5px;
  width: 300px;
  border: 2px solid gray;
}
.password {
  margin-bottom: 5%;
}
.passwordInput {
  border-radius: 16px;
  padding: 5px;
  width: 300px;
  border: 2px solid gray;
}
.role {
  margin-bottom: 5%;
  justify-content: flex-start;
  border-radius: 16px;
  padding: 5px;
  width: 300px;
  border: 2px solid gray;
}

.footer {
  display: flex;
  justify-content: end;
}
.clearBtn {
  color: white;
  background-color: blue;
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
  border: none;
  margin-right: 10px;
}
.clearBtn:hover {
  color: black;
}
.saveBtn {
  color: white;
  background: linear-gradient(to bottom right, #3ed039e7, #42dc10);
  border-radius: 16px;
  padding: 8px 16px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: width 2s;
}
.saveBtn:hover {
  width: 100px;
  height: 50px;
}

.error {
  color: red;
  margin-left: 10px;
}
