<div class="row list">
    <div class="wrapper" *ngFor="let user of users;">
        <div class="profile" 
        [routerLink]="['/manager/policies',user.id]"
        >
            <img src="assets/img/user.svg" alt="" class="user-image">
            <h3 class="userFullName">{{ user.firstName + " " + user.lastName }}</h3>
            <p class="user-role">{{ user.role }}</p>
            <div class="email">
                <a href="mailto:{{ user.email }}">{{ user.email }}</a>
            </div>
        </div>

        <div class="actions">
            <div class="action">
                <a (click)="editClickListener(user)">
                    <img src="assets/icons/edit.svg" alt="" class="edit-image filter-white">
                </a>
            </div>
            <div class="action">
                <a (click)="deleteClickListener(user)">
                    <img src="assets/icons/delete.svg" alt="" class="delete-image filter-white">
                </a>
            </div>
        </div>
    </div>
</div>