<app-header></app-header>
<div class="manager">
  <div class="search-and-add-section">
    <input class="search-bar" type="text" name="search" placeholder="Search User" (keyup)="onKeyUp($event)">
    <button class="add-user" (click)="userAddEditModal()">Add User</button>
  </div>
  <div class="user-list" *ngIf="userList.length > 0">
    <app-users-list [users]="searchUserList"  (editUser)="onEditUser($event)"></app-users-list>
  </div>
</div>
<app-user-add-edit #addEditUserModal (refetch)="onRefetch($event)"></app-user-add-edit>
<app-footer></app-footer>