.search-and-add-section {
  display: flex;
  justify-content: center;
  margin: 20px;
  align-items: center;
}
.search-bar {
  padding: 4px 20px;
  width: 400px;
  margin-right: 20px;
  border-radius: 16px;
  border: 2px solid gray;
}
.add-user {
  background-color: #ff5722;
  color: #ffffff;
  font-weight: 500;
  padding: 6px 24px;
  border: none;
  border-radius: 12px;
}
.user-list {
  padding: 20px 40px;
}

.pending-policy {
  background-color: rgb(65, 65, 211);
  color: white;
  font-weight: 500;
  padding: 6px 24px;
  border: none;
  border-radius: 12px;
  margin-left: 20px;
}
